body {
    display:grid;
    background:LightGray;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "main sidebar";
    grid-gap:10px
             
}

.cartes {
    background:lightblue;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    display:grid;
}

#panier {
    grid-area:sidebar;
    background:coral;          
}

.fr-img{
    width:80%;
}

