<!doctype html>
<!-- fichier dans bettersite/templates/admin.html  -->
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    <section id="login">
      <div>
        <h1>Login</h1>
        <form method="post" action="">
          <fieldset id="fd-client">
            <label for='client'>Login</label><input name='client'>
            <label for='mtp'>Mot de passe</label><input type='password' name='mtp'>
            <div id="message">{{message}}</div>
          </fieldset>
          <input type="submit" value="Se connecter">


        </form>
      </div>
    </section>
  </body>

</html>
