<!doctype html>
<!-- fichier dans bettersite/templates/admin.html  -->
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    <section id="login">
      <div>
        <h1>Login</h1>
        <form method="post" action="login">
          <fieldset id="fd-client">
            <label for='login'>Login</label><input name='login'>
            <label for='mtp'>Mot de passe</label><input type='password' name='mtp'>
          </fieldset>

          <input type="submit" value="Ajouter">
        </form>
      </div>
    </section>
  </body>

</html>
